<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkjoy.swms.dao.mapper.SwmsPunishMapper">
  <resultMap id="BaseResultMap" type="com.thinkjoy.swms.dao.entity.SwmsPunish">
    <id column="punish_uid" jdbcType="VARCHAR" property="punishUid" />
    <result column="punishsetting_uid" jdbcType="VARCHAR" property="punishsettingUid" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="punish_date" jdbcType="DATE" property="punishDate" />
    <result column="punish_year" jdbcType="INTEGER" property="punishYear" />
    <result column="punish_description" jdbcType="VARCHAR" property="punishDescription" />
    <result column="cancel_date" jdbcType="DATE" property="cancelDate" />
    <result column="punish_status" jdbcType="VARCHAR" property="punishStatus" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    punish_uid, punishsetting_uid, student_id, punish_date, punish_year, punish_description, 
    cancel_date, punish_status, creator, ctime, description, status, school_code
  </sql>
  <select id="selectByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunishExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from swms_punish
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from swms_punish
    where punish_uid = #{punishUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from swms_punish
    where punish_uid = #{punishUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunishExample">
    delete from swms_punish
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunish">
    insert into swms_punish (punish_uid, punishsetting_uid, student_id, 
      punish_date, punish_year, punish_description, 
      cancel_date, punish_status, creator, 
      ctime, description, status, 
      school_code)
    values (#{punishUid,jdbcType=VARCHAR}, #{punishsettingUid,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{punishDate,jdbcType=DATE}, #{punishYear,jdbcType=INTEGER}, #{punishDescription,jdbcType=VARCHAR}, 
      #{cancelDate,jdbcType=DATE}, #{punishStatus,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{schoolCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunish">
    insert into swms_punish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="punishUid != null">
        punish_uid,
      </if>
      <if test="punishsettingUid != null">
        punishsetting_uid,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="punishDate != null">
        punish_date,
      </if>
      <if test="punishYear != null">
        punish_year,
      </if>
      <if test="punishDescription != null">
        punish_description,
      </if>
      <if test="cancelDate != null">
        cancel_date,
      </if>
      <if test="punishStatus != null">
        punish_status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="schoolCode != null">
        school_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="punishUid != null">
        #{punishUid,jdbcType=VARCHAR},
      </if>
      <if test="punishsettingUid != null">
        #{punishsettingUid,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="punishDate != null">
        #{punishDate,jdbcType=DATE},
      </if>
      <if test="punishYear != null">
        #{punishYear,jdbcType=INTEGER},
      </if>
      <if test="punishDescription != null">
        #{punishDescription,jdbcType=VARCHAR},
      </if>
      <if test="cancelDate != null">
        #{cancelDate,jdbcType=DATE},
      </if>
      <if test="punishStatus != null">
        #{punishStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null">
        #{schoolCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunishExample" resultType="java.lang.Long">
    select count(*) from swms_punish
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update swms_punish
    <set>
      <if test="record.punishUid != null">
        punish_uid = #{record.punishUid,jdbcType=VARCHAR},
      </if>
      <if test="record.punishsettingUid != null">
        punishsetting_uid = #{record.punishsettingUid,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.punishDate != null">
        punish_date = #{record.punishDate,jdbcType=DATE},
      </if>
      <if test="record.punishYear != null">
        punish_year = #{record.punishYear,jdbcType=INTEGER},
      </if>
      <if test="record.punishDescription != null">
        punish_description = #{record.punishDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelDate != null">
        cancel_date = #{record.cancelDate,jdbcType=DATE},
      </if>
      <if test="record.punishStatus != null">
        punish_status = #{record.punishStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=BIGINT},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolCode != null">
        school_code = #{record.schoolCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update swms_punish
    set punish_uid = #{record.punishUid,jdbcType=VARCHAR},
      punishsetting_uid = #{record.punishsettingUid,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=INTEGER},
      punish_date = #{record.punishDate,jdbcType=DATE},
      punish_year = #{record.punishYear,jdbcType=INTEGER},
      punish_description = #{record.punishDescription,jdbcType=VARCHAR},
      cancel_date = #{record.cancelDate,jdbcType=DATE},
      punish_status = #{record.punishStatus,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=BIGINT},
      description = #{record.description,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      school_code = #{record.schoolCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunish">
    update swms_punish
    <set>
      <if test="punishsettingUid != null">
        punishsetting_uid = #{punishsettingUid,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="punishDate != null">
        punish_date = #{punishDate,jdbcType=DATE},
      </if>
      <if test="punishYear != null">
        punish_year = #{punishYear,jdbcType=INTEGER},
      </if>
      <if test="punishDescription != null">
        punish_description = #{punishDescription,jdbcType=VARCHAR},
      </if>
      <if test="cancelDate != null">
        cancel_date = #{cancelDate,jdbcType=DATE},
      </if>
      <if test="punishStatus != null">
        punish_status = #{punishStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null">
        school_code = #{schoolCode,jdbcType=VARCHAR},
      </if>
    </set>
    where punish_uid = #{punishUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thinkjoy.swms.dao.entity.SwmsPunish">
    update swms_punish
    set punishsetting_uid = #{punishsettingUid,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      punish_date = #{punishDate,jdbcType=DATE},
      punish_year = #{punishYear,jdbcType=INTEGER},
      punish_description = #{punishDescription,jdbcType=VARCHAR},
      cancel_date = #{cancelDate,jdbcType=DATE},
      punish_status = #{punishStatus,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      school_code = #{schoolCode,jdbcType=VARCHAR}
    where punish_uid = #{punishUid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>