<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkjoy.swms.dao.mapper.SwmsStudentHonoraryMapper">
  <resultMap id="BaseResultMap" type="com.thinkjoy.swms.dao.entity.SwmsStudentHonorary">
    <id column="stuhonorary_uid" jdbcType="VARCHAR" property="stuhonoraryUid" />
    <result column="honorarysetting_uid" jdbcType="VARCHAR" property="honorarysettingUid" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="apply_date" jdbcType="DATE" property="applyDate" />
    <result column="apply_year" jdbcType="INTEGER" property="applyYear" />
    <result column="apply_reson" jdbcType="VARCHAR" property="applyReson" />
    <result column="data_status" jdbcType="VARCHAR" property="dataStatus" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="school_code" jdbcType="VARCHAR" property="schoolCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stuhonorary_uid, honorarysetting_uid, student_id, apply_date, apply_year, apply_reson, 
    data_status, creator, ctime, description, status, school_code
  </sql>
  <select id="selectByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonoraryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from swms_student_honorary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from swms_student_honorary
    where stuhonorary_uid = #{stuhonoraryUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from swms_student_honorary
    where stuhonorary_uid = #{stuhonoraryUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonoraryExample">
    delete from swms_student_honorary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonorary">
    insert into swms_student_honorary (stuhonorary_uid, honorarysetting_uid, 
      student_id, apply_date, apply_year, 
      apply_reson, data_status, creator, 
      ctime, description, status, 
      school_code)
    values (#{stuhonoraryUid,jdbcType=VARCHAR}, #{honorarysettingUid,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=INTEGER}, #{applyDate,jdbcType=DATE}, #{applyYear,jdbcType=INTEGER}, 
      #{applyReson,jdbcType=VARCHAR}, #{dataStatus,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{schoolCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonorary">
    insert into swms_student_honorary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuhonoraryUid != null">
        stuhonorary_uid,
      </if>
      <if test="honorarysettingUid != null">
        honorarysetting_uid,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="applyYear != null">
        apply_year,
      </if>
      <if test="applyReson != null">
        apply_reson,
      </if>
      <if test="dataStatus != null">
        data_status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="schoolCode != null">
        school_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuhonoraryUid != null">
        #{stuhonoraryUid,jdbcType=VARCHAR},
      </if>
      <if test="honorarysettingUid != null">
        #{honorarysettingUid,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=DATE},
      </if>
      <if test="applyYear != null">
        #{applyYear,jdbcType=INTEGER},
      </if>
      <if test="applyReson != null">
        #{applyReson,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null">
        #{schoolCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonoraryExample" resultType="java.lang.Long">
    select count(*) from swms_student_honorary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update swms_student_honorary
    <set>
      <if test="record.stuhonoraryUid != null">
        stuhonorary_uid = #{record.stuhonoraryUid,jdbcType=VARCHAR},
      </if>
      <if test="record.honorarysettingUid != null">
        honorarysetting_uid = #{record.honorarysettingUid,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.applyDate != null">
        apply_date = #{record.applyDate,jdbcType=DATE},
      </if>
      <if test="record.applyYear != null">
        apply_year = #{record.applyYear,jdbcType=INTEGER},
      </if>
      <if test="record.applyReson != null">
        apply_reson = #{record.applyReson,jdbcType=VARCHAR},
      </if>
      <if test="record.dataStatus != null">
        data_status = #{record.dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=BIGINT},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolCode != null">
        school_code = #{record.schoolCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update swms_student_honorary
    set stuhonorary_uid = #{record.stuhonoraryUid,jdbcType=VARCHAR},
      honorarysetting_uid = #{record.honorarysettingUid,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=INTEGER},
      apply_date = #{record.applyDate,jdbcType=DATE},
      apply_year = #{record.applyYear,jdbcType=INTEGER},
      apply_reson = #{record.applyReson,jdbcType=VARCHAR},
      data_status = #{record.dataStatus,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=BIGINT},
      description = #{record.description,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      school_code = #{record.schoolCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonorary">
    update swms_student_honorary
    <set>
      <if test="honorarysettingUid != null">
        honorarysetting_uid = #{honorarysettingUid,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=DATE},
      </if>
      <if test="applyYear != null">
        apply_year = #{applyYear,jdbcType=INTEGER},
      </if>
      <if test="applyReson != null">
        apply_reson = #{applyReson,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null">
        school_code = #{schoolCode,jdbcType=VARCHAR},
      </if>
    </set>
    where stuhonorary_uid = #{stuhonoraryUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thinkjoy.swms.dao.entity.SwmsStudentHonorary">
    update swms_student_honorary
    set honorarysetting_uid = #{honorarysettingUid,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      apply_date = #{applyDate,jdbcType=DATE},
      apply_year = #{applyYear,jdbcType=INTEGER},
      apply_reson = #{applyReson,jdbcType=VARCHAR},
      data_status = #{dataStatus,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      school_code = #{schoolCode,jdbcType=VARCHAR}
    where stuhonorary_uid = #{stuhonoraryUid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>