<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkjoy.swms.dao.mapper.SwmsStufileListMapper">
  <resultMap id="BaseResultMap" type="com.thinkjoy.swms.dao.entity.SwmsStufileList">
    <id column="list_uid" jdbcType="VARCHAR" property="listUid" />
    <result column="stufilesetting_uid" jdbcType="VARCHAR" property="stufilesettingUid" />
    <result column="stufile_uid" jdbcType="VARCHAR" property="stufileUid" />
    <result column="stufile_path" jdbcType="VARCHAR" property="stufilePath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    list_uid, stufilesetting_uid, stufile_uid, stufile_path
  </sql>
  <select id="selectByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from swms_stufile_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from swms_stufile_list
    where list_uid = #{listUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from swms_stufile_list
    where list_uid = #{listUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileListExample">
    delete from swms_stufile_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileList">
    insert into swms_stufile_list (list_uid, stufilesetting_uid, stufile_uid, 
      stufile_path)
    values (#{listUid,jdbcType=VARCHAR}, #{stufilesettingUid,jdbcType=VARCHAR}, #{stufileUid,jdbcType=VARCHAR}, 
      #{stufilePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileList">
    insert into swms_stufile_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="listUid != null">
        list_uid,
      </if>
      <if test="stufilesettingUid != null">
        stufilesetting_uid,
      </if>
      <if test="stufileUid != null">
        stufile_uid,
      </if>
      <if test="stufilePath != null">
        stufile_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="listUid != null">
        #{listUid,jdbcType=VARCHAR},
      </if>
      <if test="stufilesettingUid != null">
        #{stufilesettingUid,jdbcType=VARCHAR},
      </if>
      <if test="stufileUid != null">
        #{stufileUid,jdbcType=VARCHAR},
      </if>
      <if test="stufilePath != null">
        #{stufilePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileListExample" resultType="java.lang.Long">
    select count(*) from swms_stufile_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update swms_stufile_list
    <set>
      <if test="record.listUid != null">
        list_uid = #{record.listUid,jdbcType=VARCHAR},
      </if>
      <if test="record.stufilesettingUid != null">
        stufilesetting_uid = #{record.stufilesettingUid,jdbcType=VARCHAR},
      </if>
      <if test="record.stufileUid != null">
        stufile_uid = #{record.stufileUid,jdbcType=VARCHAR},
      </if>
      <if test="record.stufilePath != null">
        stufile_path = #{record.stufilePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update swms_stufile_list
    set list_uid = #{record.listUid,jdbcType=VARCHAR},
      stufilesetting_uid = #{record.stufilesettingUid,jdbcType=VARCHAR},
      stufile_uid = #{record.stufileUid,jdbcType=VARCHAR},
      stufile_path = #{record.stufilePath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileList">
    update swms_stufile_list
    <set>
      <if test="stufilesettingUid != null">
        stufilesetting_uid = #{stufilesettingUid,jdbcType=VARCHAR},
      </if>
      <if test="stufileUid != null">
        stufile_uid = #{stufileUid,jdbcType=VARCHAR},
      </if>
      <if test="stufilePath != null">
        stufile_path = #{stufilePath,jdbcType=VARCHAR},
      </if>
    </set>
    where list_uid = #{listUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thinkjoy.swms.dao.entity.SwmsStufileList">
    update swms_stufile_list
    set stufilesetting_uid = #{stufilesettingUid,jdbcType=VARCHAR},
      stufile_uid = #{stufileUid,jdbcType=VARCHAR},
      stufile_path = #{stufilePath,jdbcType=VARCHAR}
    where list_uid = #{listUid,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>