package ${package_name}.rpc.api;

import com.thinkjoy.swms.common.base.BaseService;
import ${package_name}.dao.entity.${model};
import ${package_name}.dao.entity.${model}Example;

/**
* ${model}Service接口
* @author ${author}
* @date ${ctime}
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}